.main-container {
    width: 600px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid gray;
    background-color: #add8e6;
}

.header-bar {
    width: 100%;
    padding: 20px 0;
}

.text-input {
    display: block;
    min-width: 300px;
    min-height: 50px;
}

.post-card {
    width: 300px;
    min-height: 50px;
    border: 1px solid #a9a9a9;
}

.post-detailed-page {
    background-color: #d3d3d3;
}

.post-detailed-controls {
    display: flex;
    flex-direction: row-reverse;
}